<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>152168156906-ro4gebdiplqe0q3p8mcha110qmsto02b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.152168156906-ro4gebdiplqe0q3p8mcha110qmsto02b</string>
	<key>API_KEY</key>
	<string>AIzaSyD7iz54QqsbTO1gyGYbqapQexjAVWKRLnw</string>
	<key>GCM_SENDER_ID</key>
	<string>152168156906</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.quizapp</string>
	<key>PROJECT_ID</key>
	<string>flutterflowquizapp</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterflowquizapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:152168156906:ios:b41e73509ef7a8e94ad193</string>
</dict>
</plist>